<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <link rel="stylesheet" href="mystyle.css">
</head>
<body class="body" ng-app="app">
  <div class="navbar">
    <a href="#" class="active">Swiftsale</a>
    <h4>Admin Dashboard</h4>
    <div class="navbar">
      <a href="D:/.NetLabTask/SwiftSaleEcommerce/Frontend/AddDeliveryMan.html">Add DeliveryMan</a>||
      <a href="D:/.NetLabTask/SwiftSaleEcommerce/Frontend/AddSeller.html">Add Seller</a>||
      <a href="D:/.NetLabTask/SwiftSaleEcommerce/Frontend/AddAdmin.html">Add Admin</a>||
      <!-- <a href="#">Cart</a>|| -->
     <!-- <button ng-click="logout()">Logout</button> -->
     <div ng-controller="logoutCtrl">
      <button ng-click="logout()">Logout</button>
     </div>
    </div>
  </div>
  <div class="container">
    <div class="side-menu">
      <ul>
        <!-- <li><a href="#">Profile</a></li>
        <li><a href="#">Edit Profile</a></li>
        <li><a href="#">Logout</a></li> -->
      </ul>
    </div>
    <div class="container">
      <div class="table-container">
    <div class="table" ng-controller="adminCtrl">
      <h1>Admin List</h1>
      <table>
        <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Address</th>
            <th>Phone</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="admin in data | limitTo:numItems">
            <td>{{ admin.Id }}</td>
            <td>{{ admin.Name }}</td>
            <td>{{ admin.Address }}</td>
            <td>{{ admin.Phone }}</td>
            <td><button ng-click="deleteAdmin(admin.Id)">Delete</button></td>

          </tr>
        </tbody>
      </table>
      <div ng-if="data.length > 2">
        <button ng-click="toggleDisplay()">View All</button>
      </div>
    </div>
  </div>
  <div class="table" ng-controller="sellerCtrl">
    <h1>Seller List</h1>
    <table>
        <thead>
            <tr>
              <th>ID</th>
              <th>Name</th>
              <th>Shop</th>
              <th>Phone</th>
              <th>Address</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="seller in data | limitTo:numItems">
              <td>{{ seller.Id }}</td>
              <td>{{ seller.Seller_Name }}</td>
              <td>{{ seller.Shop_Name }}</td>
              <td>{{ seller.Seller_Phone }}</td>
              <td>{{ seller.Seller_Address }}</td>
            </tr>
          </tbody>
    </table>
    <div ng-if="data.length > 2">
    <button ng-click="toggleDisplay()">View All</button>
  </div>
</div>
<div class="table" ng-controller="customerCtrl">
  <h1>customer List</h1>
  <table>
      <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Shop</th>
            <th>Phone</th>
            <th>Address</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="customer in data | limitTo:numItems">
            <td>{{ customer.customer_id }}</td>
            <td>{{ customer.first_name}}</td>
            <td>{{ customer.last_name }}</td>
            <td>{{ customer.gender }}</td>
            <td>{{ customer.address}}</td>
          </tr>
        </tbody>
  </table>
  <div ng-if="data.length > 2">
  <button ng-click="toggleDisplay()">View All</button>
</div>
</div>
</div>
</div>
</div>

<div class="table-wrapper" ng-controller="productCtrl">
  <h1>product List</h1>
  <table class="table1">
      <thead>
          <tr>
            <th>ID</th>
            <th>Name</th>
            <th>Shop</th>
            <th>Phone</th>
            <th>Address</th>
            <th>Image</th>
            <th>Sell By</th>
          </tr>
        </thead>
        <tbody>
          <tr ng-repeat="product in data | limitTo:numItems">
            <td>{{ product.Id }}</td>
            <td>{{ product.Name}}</td>
            <td>{{ product.Description }}</td>
            <td>{{ product.Price }}</td>
            <td>{{ product.C_Id}}</td>
            <td>{{ product.Image}}</td>
            <td>{{ product.SellBy}}</td>
          </tr>
        </tbody>
  </table>
</div>

  <footer class="footer">
    <h3>Swiftsale</h3>
    <p>&copy; 2023 Swiftsale. All rights reserved</p>
  </footer>

  <script>
  var flag=0;
  var Path = 'D:/.NetLabTask/SwiftSaleEcommerce/Frontend/';
  var app = angular.module("app", []);
  app.factory('interceptor', ['$q', '$window', function ($q, $window) {
      var interceptor = {
          request: function (config) {
              var token = localStorage.getItem("Tokenkey");
              config.headers.Authorization = token;
              return config;
          },
          response: function (response) {
              return response;
          },
          responseError: function (rejection) {
              if (rejection.status === 401) {
                
                if (flag === 0) {
                  
                      flag = 1;
                      $window.alert("Access denied");
                      $window.location.href = Path + 'Login.html';
                    }
                    
                  // flag = 1;
                  //  $window.alert("Access denied");
                  //  window.location.href = Path + 'Login.html';
              }
              
              return $q.reject(rejection);
          }
      };
      return interceptor;
  }]);

  app.config(['$httpProvider', function ($httpProvider) {
      $httpProvider.interceptors.push('interceptor');
  }]);
    app.controller('adminCtrl', function ($scope, $http, $window) {
      ;
      $http({
            method: 'GET',
            url: "https://localhost:44345/api/admin",
            headers: {
                'Authorization': localStorage.getItem("TokenKey")
            }
          }).then(function (resp) {
            
        $scope.data = resp.data;
      }, function (error) {
          // if (!flag) {
            
          flag = 1;
          
          // $window.alert("Access denied");
          // window.location.href = Path + 'Login.html';
        // }
      });
      $scope.numItems = 2;
      $scope.toggleDisplay = function() {
        $scope.numItems = $scope.data.length;
      };
      $scope.deleteAdmin = function(id) {
    $http.post("https://localhost:44345/api/admin/delete/" + id).then(function (resp) {
      // Remove the deleted admin from the displayed data
      var index = $scope.data.findIndex(function (admin) {
        return admin.Id === id;
      });
      if (index !== -1) {
        $scope.data.splice(index, 1);
      }
    }, function (error) {
      console.log(error);
    });
  };
    });
    app.controller('sellerCtrl', function ($scope, $http, $window) {
      $http({
            method: 'GET',
            url: "https://localhost:44345/api/seller",
            headers: {
                'Authorization': localStorage.getItem("TokenKey")
            }
          }).then(function (resp) {
      $scope.data = resp.data;
    }, function (error) {
      // if (!flag) {
          flag = 1;
          // $window.alert("Access denied");
          // window.location.href = Path + 'Login.html';
        // }
    });
    $scope.numItems = 2;
    $scope.toggleDisplay = function() {
    $scope.numItems = $scope.data.length;
    };
  });
  app.controller('customerCtrl', function ($scope, $http, $window) {
    $http({
            method: 'GET',
            url: "https://localhost:44345/api/customer",
            headers: {
                'Authorization': localStorage.getItem("TokenKey")
            }
          }).then(function (resp) {
      $scope.data = resp.data;
    }, function (error) {
      // if (!flag) {
          flag = 1;
          // $window.alert("Access denied");
          // window.location.href = Path + 'Login.html';
        // }
    });
    $scope.numItems = 2;
    $scope.toggleDisplay = function() {
      $scope.numItems = $scope.data.length;
    };
  });
  app.controller('productCtrl', function ($scope, $http, $window) {
    $http({
            method: 'GET',
            url: "https://localhost:44345/api/product",
            headers: {
                'Authorization': localStorage.getItem("TokenKey")
            }
          }).then(function (resp) {
      $scope.data = resp.data;
    }, function (error) {
      // if (!flag) {
          flag = 1;
        //   $window.alert("Access denied");
        //   window.location.href = Path + 'Login.html';
        // }
    });
    
      $scope.numItems = 2;
      $scope.toggleDisplay = function() {
      $scope.numItems = $scope.data.length;
    };
  });
  
  app.controller('logoutCtrl', function ($scope, $http, $window) {
            $scope.logout = function () {
                $http({
                    method: 'GET',
                    url: "https://localhost:44345/api/logout",
                    headers: {
                        'Authorization': localStorage.getItem("TokenKey")
                    }
                }).then(function (response) {
                    localStorage.clear();
                    // localStorage.removeItem("TokenKey");
                    window.location.href = 'D:/.NetLabTask/SwiftSaleEcommerce/Frontend/Login.html';
                }, function (error) {
                    $window.alert("Logout failed");
                });
            };
        }); 
        
  </script>
</body>
</html>
