<!DOCTYPE html>
<html>
<head>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.8.2/angular.min.js"></script>
  <link rel="stylesheet" href="mystyle.css">
</head>
<body class="body" ng-app="app">
  <div class="navbar">
    <a href="#" class="active">Swiftsale</a>
    <p>Seller Dashboard</p>
    <div class="navbar">
      <a href="D:/.NetLabTask/SwiftSaleEcommerce/Frontend/SellerDashboard.html">Product List</a>||
      <a href="D:/.NetLabTask/SwiftSaleEcommerce/Frontend/AddProduct.html">Add Product</a>||
      <a href="D:/.NetLabTask/SwiftSaleEcommerce/Frontend/Promotion.html">Product Promotion</a>||
      <a href="D:/.NetLabTask/SwiftSaleEcommerce/Frontend/SellerProfile.html">Profile</a>||
     <div ng-controller="logoutCtrl">
      <button ng-click="logout()">Logout</button>
     </div>
    </div>
  </div>

  <div class="table-wrapper" ng-controller="productCtrl">
    <h1>product List</h1>
    <table class="table1">
        <thead>
            <tr>
              <th>Name</th>
              <th>Description</th>
              <th>Price</th>
              <th>Catagory</th>
              <th>Upload Date</th>
              <th>Seller</th>
            </tr>
          </thead>
          <tbody>
            <tr ng-repeat="product in data | limitTo:numItems">
              <td>{{ product.Name}}</td>
              <td>{{ product.Description }}</td>
              <td>{{ product.Price }}</td>
              <td>{{ product.C_Id}}</td>
              <td>{{ product.Image}}</td>
              <td>{{ product.SellBy}}</td>
              <td><button ng-click="deleteProduct(product.Id)">Delete</button></td>
            </tr>
          </tbody>
    </table>
    <div ng-if="data.length > 2">
        <button ng-click="toggleDisplay()">View All</button>
      </div>
  </div>

  <footer class="footer">
    <h3>Swiftsale</h3>
    <p>&copy; 2023 Swiftsale. All rights reserved</p>
  </footer>

  <script>
  var flag=0;
  var Path = 'D:/.NetLabTask/SwiftSaleEcommerce/Frontend/';
  var app = angular.module("app", []);
  app.factory('interceptor', ['$q', '$window', function ($q, $window) {
      var interceptor = {
          request: function (config) {
              var token = localStorage.getItem("Tokenkey");
              config.headers.Authorization = token;
              return config;
          },
          response: function (response) {
              return response;
          },
          responseError: function (rejection) {
              if (rejection.status === 401) {
                
                if (flag === 0) {
                  
                      flag = 1;
                      $window.alert("Access denied");
                      $window.location.href = Path + 'Login.html';
                    }
                    
                  // flag = 1;
                  //  $window.alert("Access denied");
                  //  window.location.href = Path + 'Login.html';
              }
              
              return $q.reject(rejection);
          }
      };
      return interceptor;
  }]);

  app.config(['$httpProvider', function ($httpProvider) {
      $httpProvider.interceptors.push('interceptor');
  }]);
  app.controller('productCtrl', function ($scope, $http, $window) {
    $http({
            method: 'GET',
            url: "https://localhost:44345/api/product",
            headers: {
                'Authorization': localStorage.getItem("TokenKey")
            }
          }).then(function (resp) {
      $scope.data = resp.data;
    }, function (error) {
      // if (!flag) {
          flag = 1;
        //   $window.alert("Access denied");
        //   window.location.href = Path + 'Login.html';
        // }
    });
    
      $scope.numItems = 2;
      $scope.toggleDisplay = function() {
      $scope.numItems = $scope.data.length;
    };
    $scope.deleteProduct = function(id) {
    $http.post("https://localhost:44345/api/product/delete/" + id).then(function (resp) {
      // Remove the deleted admin from the displayed data
      var index = $scope.data.findIndex(function (product) {
        return product.Id === id;
      });
      if (index !== -1) {
        $scope.data.splice(index, 1);
      }
    }, function (error) {
      console.log(error);
    });
  };
  });

  app.controller('logoutCtrl', function ($scope, $http, $window) {
            $scope.logout = function () {
                $http({
                    method: 'GET',
                    url: "https://localhost:44345/api/logout",
                    headers: {
                        'Authorization': localStorage.getItem("TokenKey")
                    }
                }).then(function (response) {
                    localStorage.clear();
                    // localStorage.removeItem("TokenKey");
                    window.location.href = 'D:/.NetLabTask/SwiftSaleEcommerce/Frontend/Login.html';
                }, function (error) {
                    $window.alert("Logout failed");
                });
            };
        }); 

        
  </script>
</body>
</html>
